body,html {
    margin: 0;
 }
 .box {
     padding-top: 50px;
     width: 100%;
     height: 350px;
     color:chartreuse;
     display: flex;
     flex-direction: column;
     align-items:center;
     justify-content: space-evenly;
     font-size: 60px;
     font-family: Arial, Helvetica, sans-serif;
     position: relative;
 }
 #background-img {
     height: 100%;
     width: 100%;
     position: absolute;
 }
 
 #img-meteo {
     height: 150px;
     width: 350px;
 }
 
 #weather-code {
     font-size: 40px;
     color:aquamarine;
 }
 
 #img-box {
     display: flex;
 }
 
 #img-rain,
 #img-snow {
     height: 70px;
     width: 70px;
     animation: changeOpacity 7s infinite;
 }
 #img-sun {
     height: 70px;
     width: 70px;
     animation: changeScale 7s infinite;
 }
 
 @keyframes changeOpacity {
     0% {
         opacity: 1;
     }
     50% {
         opacity: 0;
     }
 }
 
 @keyframes changeScale {
     0% {
         scale: 1;
     }
     50% {
         scale: 1.5;
     }
 }